spring:
  application:
    name: social-blog

  datasource:
    url: jdbc:mysql://localhost:3306/social_blog?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: "@Anh3112005"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  jackson:
    serialization:
      fail-on-empty-beans: false
    time-zone: Asia/Ho_Chi_Minh

server:
  port: 8080

logging:
  level:
    root: INFO
    com.socialblog: DEBUG
    org.hibernate.SQL: DEBUG
